body {
  margin: 0;
  background-color: #FFE;
  font-family: 'Recursive', sans-serif;
}

.grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 10px;
  justify-content: center;
}

.item {
  height: 300px;
  margin-bottom: 10px;
  background-color: lightgray;
  border-radius: 15px;
}
.item:nth-child(4n+1) {
  width: 600px;
  grid-column: span 2;
}
.item:nth-child(4n+2) {
  width: 300px;
}
.item:nth-child(4n+3) {
  width: 300px;
  margin-right: -5px;
}
.item:nth-child(4n+4) {
  width: 600px;
  grid-column: span 2;
  margin-left: 10px;
}

.item:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFD;
}
.title-text {
  font-size: 3em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #222;
}
.item:nth-child(2) {
  background-color: #EFF;
}

.item:nth-child(3) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFF;
}

.item:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFE;
}
.terminal {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-top: 7px;
  font-size: 1em;
  color: transparent;
}
.terminal:hover {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #555;
}

.icon {
  position: relative;
}
.icon-w60 {
  width: 60px;
  margin: 0 15px;
}
.icon-h60 {
  height: 60px;
  margin: 0 15px;
}
.link-blog {
  margin: auto auto auto -20px;
}
.link-twitter-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 15px;
}
.link-github-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 112px;
}
.link-qiita-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 215px;
}
.link-blog-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 320px;
}

.item:nth-child(5) {
  background-color: #EFE;
  position: relative;
}

.work-link {
  text-decoration: none;
  color: #222;
}
.minilisp-title {
  position: absolute;
  top: 10px;
  left: 32%;
  font-size: 1.5em;
}
.minilisp-description {
  position: absolute;
  color: #024;
  top: 50px;
  width: 60%;
  left: 32%;
  font-size: 1em;
}

.icon-searchsearch {
  position: absolute;
  width: 70px;
  border-radius: 10px;
  top: 110px;
  left: 15%;
}
.searchsearch-title {
  position: absolute;
  top: 80px;
  left: 32%;
  font-size: 1.5em;
}
.searchsearch-description {
  position: absolute;
  color: #024;
  top: 120px;
  width: 60%;
  left: 32%;
  font-size: 1em;
}

.icon-biotter {
  position: absolute;
  width: 70px;
  border-radius: 10px;
  top: 200px;
  left: 15%;
}
.biotter-title {
  position: absolute;
  top: 175px;
  left: 32%;
  font-size: 1.5em;
}
.biotter-description {
  position: absolute;
  color: #024;
  top: 215px;
  width: 60%;
  left: 32%;
  font-size: 1em;
}

.item:nth-child(6) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFD;
}
.item:nth-child(7) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEF;
}

.item:nth-child(8) {
  background-color: #EFD;
}
.carrer {
  margin: 35px;
}
.carrer-term {
  font-size: 0.8em;
}
.carrer-company {
  font-size: 1.2em;
  width: 170px;
  color: #23E;
  text-decoration: none;
  display: inline-block;
}
.carrer-description {
  color: #233;
  display: inline-block;
}
