body {
  margin: 0;
  background-color: #FFE;
  font-family: 'Recursive', sans-serif;
}

.grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 10px;
  justify-content: center;
}

.item {
  height: 300px;
  margin-bottom: 10px;
  background-color: lightgray;
  border-radius: 15px;
}
.item:nth-child(4n+1) {
  width: 600px;
  grid-column: span 2;
}
.item:nth-child(4n+2) {
  width: 300px;
}
.item:nth-child(4n+3) {
  width: 300px;
  margin-right: -5px;
}
.item:nth-child(4n+4) {
  width: 600px;
  grid-column: span 2;
  margin-left: 10px;
}

.item:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFD;
}
.title-text {
  font-size: 3em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #222;
}
.item:nth-child(2) {
  background-color: #EEE;
}

.item:nth-child(3) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFF;
}

.item:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFE;
}
.terminal {
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 2em;
  color: transparent;
}
.terminal .gt {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #555;
}
.terminal:hover .welcome:after {
  content: 'welcome to \\\Atetetratra.net!';
  white-space: pre;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #555;
  animation: welcome 12s linear 1;
}

@keyframes welcome {
  0%,20%   { content: '';              }
  22%      { content: 'w';             }
  23%      { content: 'we';            }
  24%      { content: 'wel';           }
  25%      { content: 'welc';          }
  26%      { content: 'welco';         }
  27%      { content: 'welcom';        }
  28%      { content: 'welcome';        }
  29%,39%  { content: 'welcome ';       }
  40%      { content: 'welcome t';      }
  41%      { content: 'welcome to';     }
  42%      { content: 'welcome to ';     }
  43%      { content: 'welcome to \\';     }
  44%,54%  { content: 'welcome to \\\A';     }
  54%      { content: 'welcome to \\\A';    }
  55%      { content: 'welcome to \\\At';    }
  56%      { content: 'welcome to \\\Ate';   }
  57%      { content: 'welcome to \\\Atet';  }
  58%      { content: 'welcome to \\\Atete';  }
  59%      { content: 'welcome to \\\Atetet';  }
  60%      { content: 'welcome to \\\Atetetr';  }
  61%      { content: 'welcome to \\\Atetetra';  }
  62%      { content: 'welcome to \\\Atetetrat';  }
  63%      { content: 'welcome to \\\Atetetratr';  }
  64%,70%  { content: 'welcome to \\\Atetetratra';  }
  71%      { content: 'welcome to \\\Atetetratra.';  }
  72%      { content: 'welcome to \\\Atetetratra.n';  }
  73%      { content: 'welcome to \\\Atetetratra.ne';  }
  74%      { content: 'welcome to \\\Atetetratra.net';  }
  75%,100% { content: 'welcome to \\\Atetetratra.net!';  }
}

.terminal:hover .uline {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #555;
  animation: flash 1s linear infinite;
}
@keyframes flash {
  0%,50% {
    opacity: 0;
  }
  51%,100% {
    opacity: 1;
  }
}

.icon {
  position: relative;
}
.icon-w60 {
  width: 60px;
  margin: 0 15px;
}
.icon-h60 {
  height: 60px;
  margin: 0 15px;
}
.link-blog {
  margin: auto auto auto -20px;
}
.link-twitter-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 15px;
}
.link-github-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 112px;
}
.link-qiita-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 215px;
}
.link-blog-text {
  color: #222;
  position: absolute;
  top: 70px;
  left: 320px;
}

.item:nth-child(5) {
  background-color: #EFE;
  position: relative;
}

.work-link {
  text-decoration: none;
  color: #222;
}
.ensemble_cast-title {
  position: absolute;
  top: 10px;
  left: 32%;
  font-size: 1.5em;
}
.ensemble_cast-description {
  position: absolute;
  color: #024;
  top: 50px;
  width: 60%;
  left: 32%;
  font-size: 1em;
}

.icon-searchsearch {
  position: absolute;
  width: 70px;
  border-radius: 10px;
  top: 110px;
  left: 15%;
}
.searchsearch-title {
  position: absolute;
  top: 80px;
  left: 32%;
  font-size: 1.5em;
}
.searchsearch-description {
  position: absolute;
  color: #024;
  top: 120px;
  width: 60%;
  left: 32%;
  font-size: 1em;
}

.icon-biotter {
  position: absolute;
  width: 70px;
  border-radius: 10px;
  top: 200px;
  left: 15%;
}
.biotter-title {
  position: absolute;
  top: 175px;
  left: 32%;
  font-size: 1.5em;
}
.biotter-description {
  position: absolute;
  color: #024;
  top: 215px;
  width: 60%;
  left: 32%;
  font-size: 1em;
}

.item:nth-child(6) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFD;
}
.item:nth-child(7) {
  font-size: 2.5em;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEF;
}

.item:nth-child(8) {
  background-color: #EFD;
}
.carrer {
  margin: 35px;
}
.carrer-term {
  font-size: 0.8em;
}
.carrer-company {
  font-size: 1.2em;
  width: 170px;
  color: #23E;
  text-decoration: none;
  display: inline-block;
}
.carrer-description {
  color: #233;
  display: inline-block;
}
